* {
    box-sizing: border-box;
  }
  
  .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
  }
  
  #two {
    position:fixed;
    top: 0px;
    left: s0px;
    background: blue;
  }